# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma
prisma/data.db
prisma/dev.db
data/*

docker-compose.dev.yml
# Sentry Config File
.env.sentry-build-plugin
